$var1: #FFD700
$var2: grey

.app-list-item 
	font-size: 1.25rem
	border: solid 1px grey
	border-radius: 10px
	&:hover
		font-size: 1.30rem
	button 
		width: 35px
		height: 35px
		margin: 3px
		font-size: 17px
		border: solid 2px
		cursor: pointer
		&:hover
			box-shadow: 
			outline: none
		
	
	.btn-star 
		color: $var1
	
	.btn-trash 
		color: red
	
	.fa-heart 
		width: 35px
		height: 35px
		text-align: center
		line-height: 35px
		font-size: 16px
		color: red
		transition: 0.3s all
		transform: translateX(30px)
		opacity: 0
	
	&-label 
		display: block
		line-height: 35px
		cursor: pointer
		user-select: none
		transition: 0.5s all
		color: grey
	
	&.like .fa-heart 
		opacity: 1
		transform: translateX(0px)
		color: red
	
	&.important .app-list-item-label 
		color: black
	
	&.important .btn-star 
		color: $var2
	

